body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul { list-style:circle; padding-left: 15px; }

a { color:blue; text-decoration: none;}
a:hover{color: blueviolet; text-decoration: underline;}

.bar {
    background-color: lightcyan;
    height: 15px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.navfooter {
    display:grid;
    height:min-content;
    text-align: center;
}

.navfooter ul {

    padding-bottom: 0px;

}

.navfooter ul li{
    display: inline;
    list-style: none;
    padding: 10px;
}


figure {
    text-align: center;
}

nav{
    border-left: solid 1px black;
    border-right: solid 1px black;
    text-align: left;
    background-color: lightgrey;
    padding-left: 20px;
}

nav ul {
    padding-left: 5px;
    padding-bottom: 15px;
}

nav ul li{
    display: grid;
    list-style: none; 
    padding-left: 5px;
    padding-bottom: 10px;
}

header {
    max-width: 1440px;
    margin: 5px;
    display:inline-flex;
    width: 100%;
}

header .fakepedia {
    text-align: right;
    width: 80%;
    margin-right: 25px;
}

header .fakepedia p {
    font-size: large;
}